@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        font-family: 'Inter', sans-serif;
    }

    body {
        @apply bg-[#f6fafa]
    }
}