<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/tailwind.core.js"></script>
    <link href="/static/tailwind.min.css" rel="stylesheet">
    <script src="/static/tailwind.js"></script>
    <title>{% block title %} Index {% endblock %}</title>
</head>
<body>
<div class="container mx-auto px-4">
    <header>
        <div class="flex justify-between items-center py-6">
            <div class="flex items-center space-x-4">
                <div class="tham tham-e-squeeze tham-w-6">
                    <div class="tham-box">
                        <div class="tham-inner bg-indigo-500"></div><!-- Hamburger Menu -->
                    </div>
                </div>
                <span class="text-gray-500 font-medium"><a href="/games">Games</a></span>
                <span class="text-gray-500 font-medium"><a href="/admin">Admin</a></span>
            </div>
            <div class="text-xl font-bold">Price-a-Tray</div>
            <div class="flex items-center space-x-4">
                <span class="text-gray-500 font-medium"><a href="/help">[HELP]</a></span>
            </div>
        </div>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <div class="text-center mt-12">
            &copy; 2024 - Google Cloud
        </div>
    </footer>
</div>
</body>
</html>