{% extends 'base.html' %}

{% block content %}
    <div class="text-3xl font-bold mb-8 flex justify-center">Welcome</div>
    <div class="container mx-auto grid-cols-8 border">
        <div class="rounded-md justify-center">
        <span class="font-[eight-bit] flex text-8xl">
            <a href="/games/active/play">Play</a>
        </span>
        </div>
    </div>
    <a href="/games/new">Create New Game +</a>
{% endblock %}